.wrapper {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.locais {
  width: 90vw
}

.dicionario {
  background: #98BF64;
  height:60px;
  border-radius: 14px;
  display: grid;
  grid-template-columns: 6fr 1fr 2fr 1fr 3fr;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  padding: 0 1rem;
}
