.Modal {
   position: fixed;
   right: 0;
   bottom:0;
   top: 0;
   height: 100vh;
   width: clamp(40vw, 700px, 80%);
   z-index: 100;
   background: #fff;
   border-left: 1px rgba(0,60,40, 0.8) solid;
   padding: 2rem
}

.overlayDiv{
   left: 0;
   right: 0;
   bottom:0;
   top: 0;
   background: rgba(0,0,0, 0.7)
}