@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

:root {
    --green: rgba(102, 236, 154, 0.774);
}
body{
    background: linear-gradient(rgb(), rgb());
}

.navbar-brand{
    font-family: 'Send Flowers', cursive, sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.logo{
    height: 7vh;
    width: 7vh;
}

.modal-fullscreen{
    position: absolute;
    right: 0;
    background: rgba(0,0,0);
    max-width: 40vw;
}


.logo-modal{
    min-width: 40px;
    min-height: 40px;
    max-height: 20vh;
    max-width: 20vh;
}

.modal-btn-green, .modal-btn-green:hover{
    color: #fff;
    background-color: var(--green);
}

.modal-footer{
    color: var(--green);
}

.user{
    height: 5rem;
    width: 5rem;
}