@font-face {
    font-family: Coolvetica;
    src: url(../Fonts/coolvetica.otf);
}

@font-face {
    font-family: Straightler;
    src: url(../Fonts/straightler.otf);
}

:root {
    --green: rgba(102, 236, 154, 0.774);
}

body{
    background: linear-gradient(rgb(), rgb());
}

.navbar-brand{
    font-family: Coolvetica;
    font-size: 3rem;
}

.logo {
    height: 7vh;
    width: 7vh;
}

.modal-btn-green, .modal-btn-green:hover{
    color: #fff;
    background-color: var(--green);
}

.modal-footer{
    color: var(--green);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;

}