@import "../../styles.css";

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  backdrop-filter: blur(4px);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: clamp(20vh, 256px, 50%);
  width: clamp(20vw, 500px, 50%);
  background:whitesmoke;
  border-radius:10px;
  padding: 2rem;
  text-align: center;
  z-index: 100;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.64);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.64);
  box-shadow: 0 0 15px rgba(0,0,0,0.64);
}