.overlay {
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   min-height: 100vh;
   min-width: 100vw;
   backdrop-filter: blur(4px);
   z-index: 10;
   display: flex;
   justify-content: center;
   align-items: center;
}

.modal{
  width: clamp(40vw, 700px, 80%);
  background: rgba(230, 230, 230, 1);
  border-radius:6px;
  padding: 2rem;
  text-align: center;
  z-index: 100;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
