
.login {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.inputs label {
  width: 14.6em;
}

input {
  width: 15.6em;
  height: 1.76em;
  font-size: 15px;
  margin-bottom: 0.75em;
  border-radius: 0.3em;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid grey;
}

input:focus {
  background-color: rgba(241, 241, 241, 0.671);
  outline: none;
}

button {
  width: 9em;
  height: 3em;
  border-radius: 0.4em;
  border: transparent;
  margin-top: 1%;
  background-color: rgba(241, 241, 241, 0.671);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;

  transition: ease 0.8s;
}

button:hover {
  background-color: rgba(223, 223, 223, 0.89);
}
